body {
  font-style: "League Gothic", Impact, sans-serif;
}

h3 {
  font-weight: bolder;
}

.emoji {
  font-size: 0.7em;
}

.row {
  margin-bottom: 10px !important;
}

button.clear {
  margin-right: 1em;
}

table {
  margin-top: 2em;
  cursor: pointer;
}

td i {
  position: fixed;
  right: 20px;
}

.reponse {
  background-color: #81C784;
}
